canvas{
    position: absolute;
    overflow: hidden;
}

#particleLayer{
    background: black;
    z-index: 0;
}

#grid{
    pointer-events: none;
    background: transparent;
    position: absolute;
    z-index: 2;
}

#objects {
    pointer-events: none;
    background: transparent;
    position: absolute;
    z-index: 2;
}

#figureLayer{
    pointer-events: none;
    background: transparent;
    z-index: 2;
}
*{
    background: black;
}

html, body{
    max-height:100vh;
    width:100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}