#canvas{
    background: black;
    z-index: 0;
    position: absolute;
}

#grid{
    pointer-events: none;
    background: transparent;
    position: absolute;
    z-index: 1;
}
*{
    background: black;
}

html, body{
    max-height:100vh;
    width:100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #FBFFFF;
}