.layer{
    pointer-events: none;
    background: transparent;
    position: absolute;
    overflow: hidden;
}
#particleLayer{
    pointer-events: auto;
    background: black;
    z-index: 0;
}

#grid{
    z-index: 1;
}

#attractors {
    z-index: 2;
}

#cannons{
    z-index: 2;
}

#figureLayer{
    z-index: 3;
}

{
    background: black;
}

html, body{
    max-height:100vh;
    width:100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}