@colorScheme:{
  background: #2f2e33;
  key: #706a87;
  key-shadow: white;
}

.ui{
  padding: 0;
  color: white;
  width: 100%;
  max-width: 100%;
  &-options{
    animation: swipe-in-from-left 0.4s ease-in-out;
    display: none;
    opacity: 0.7;
    background-color: @colorScheme[background];
    position: fixed;
    height: 100vh;
    .ui-icon-close{
      left: 0;
    }
  }
  &-keymap{
    animation: swipe-in-from-right 0.4s ease-in-out;
    display: none;
    opacity: 0.7;
    background-color: @colorScheme[background];
    position: fixed;
    height: 100vh;
    .ui-icon-close{
      display: block;
      text-align: right;
    }
  }
}

.ui-icon-open{
    &.left{
      left: 0;
      margin-left: 0.25em;
    }
    &.right{
      right: 0;
      margin-right: 0.25em;
    }
    display: block;
    margin-top: 0.25em;
    position: fixed;
    top: 0;
    color: white;
    font-size: 2.5em;
    background-color: @colorScheme[key];
    border-radius: 5px;
    padding: 0.25em;
}

.ui-icon-close{
    position: relative;
    top: 0;
    color: white;
    font-size: 2.5em;
}

.key{
    background-color: @colorScheme[key];
    border-radius: 5px;
    color: white;
    padding: 5px;
}

@keyframes swipe-in-from-left {
  0%{
    opacity: 0;
    transform: translateX(-50%);
  }
  100%{
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes swipe-in-from-right {
  0%{
    opacity: 0;
    transform: translateX(50%);
  }
  100%{
    opacity: 100%;
    transform: translateX(0);
  }
}


